.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
*{
  font-family: "proxima-nova" !important;;
  text-rendering: optimizeLegibility;
}
body {
  padding: 0;
}

h1 h2 h3{
    text-rendering: optimizeLegibility;
}

.container-fluid{
  margin: 0 auto;
  padding-bottom: 20px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}



/*social icons*/
.social_icons {
  margin:0px auto;
  display: block;
}
.social_icons img{
    border-radius:50%;
    display: inline;
    position: relative;
    margin-right: 3%;
}
/*personal information photo and text*/
.post-container {
    margin:0px auto;
    display: inline-block;
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-thumb h2{
    margin-top: 0px !important;
}
.post-content {
    text-align:left; 
    margin-left: 50px
}

.post-content p{
  font-weight: bold;
  font-size: 120%
}
/*head*/
.headerbg {
    background-image: url("../resource/images/bannerbg.jpg"); 
    width: 100%; 
    min-height: 700px;
    text-align: center;
    text-rendering: optimizeLegibility;
}


.bannerhead {
    position: relative;
    width: 100%;
    margin:0px auto;
    display: block;
    padding-top: 53px;
    color: #FFDFB2;
}
.bannerhead h2{
    color: #005A9B;
}
.bannerhead h2 span {
    color: #FFDFB2;;
}
.bannerhead .post-container .post-content{
    margin-left: 80px !important;
}
/*.bannerhead .post-container .post-thumb h2{
  color: #FFDFB2;
}*/
.post-content .lead{
  margin-bottom: 13px;
}
#profile {
  padding-bottom: 20px;
}
#myName {
    position: relative;
    display: block;
    margin-left: -49px;
    padding-bottom: 10px;
}
#download {
  border: 2px solid #fff !important;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1em 1.75em;
  line-height: 1em;
  margin: 10px 0;
  font-family: "proxima-nova";
  font-weight: bolder;
  text-decoration:none;
  color: #FFDFB2;
}
#download p{
  margin: 0 auto !important;
}
#download:hover{
  background-color: #ffffff;
  color: #000000;
}

/*photo cover overlay*/
.color-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 99;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: 1020px;
  }
  .titre{
    color: #000;
    font-weight: bolder;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*description======================*/
.description {
  
}
.description h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}
.description h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}
.description p{
    color: rgba(26,26,26,.6);
    font-size: 110%
}
.description ul{
    color: rgba(26,26,26,.6);
    font-size: 110%
}

/*personal informations*/
.person_info {
    margin:0px auto;
    display: block;
}
#person_info-head {
  margin-bottom: 30px;
  color: #17F238;
  font-weight: bold;
}
#person_info-text {
  margin-bottom: 30px;
  font-size: 130%;
  color: #F5FB05;
  font-weight: bold;
}

.jumbotron{
  background-color: #EFEFEF;
}
.fond-noir{
  font-weight: bold;
}