<div class="page-header container-fluid" id="page-header">
  <div class="headerbg">
    <div class="row">
      <div class="bannerhead">
        <div class="row">
          <img id="profile" src="../resource/images/profile.png">
        </div>
        <div class="row">
          <a id="download" href="../resource/resume/DAN_HE_CV_English.pdf">download resume</a>
        </div>

          <!--person information jumbotron===========================================================-->
        <div class="row"> 
          <div class="person_info">
            <h2 class="row" id="person_info-head">{{author}}</h2>
            <p class="row" id="person_info-text" ng-repeat = "etab in main.acueil">{{etab.text}}</p>
          
          <div class="post-container row">
            <div class="post-thumb">
              <img src="../resource/images/pin.png">
            </div>
            <div class="post-content" >
              <p ng-repeat = "etab in main.adress">{{etab.ad}}</p>
            </div>

            <div class="post-thumb" >
              <img src="../resource/images/phone.png">
            </div>
            <div class="post-content">
              <p ng-repeat = "etab in main.tel">{{etab.tel}}</p>
            </div>

            <div class="post-thumb">
              <img src="../resource/images/mail.png">
            </div>
            <div class="post-content">
              <a href="mailto:he.dan0086@gmail.com">
                <p ng-repeat = "etab in main.email">{{etab.email}}</p>
              </a>
            </div>   
          </div>

          <div class="social_icons row">    
            <a href="https://www.facebook.com/statisfy.hd"><img src="../resource/images/facebook.png"></a>
            <a href="https://fr.linkedin.com/in/hedan0086"><img src="../resource/images/linkedin.png"></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="container">
  <h2 class="titre" align="center">Looking for an internship from July to September</h2>
  <div class="row">
      <hr>
  </div>
   <!--Educations==========================================================================-->
  <div class="row">
    <div class="description">
      <div class="col-lg-4">
          <h2>Educations</h2>
      </div>

      <div class="col-lg-6">
      <!--education polytech-->
        <div class="row">
          <h3 ng-repeat = "etab in main.education1">{{etab.name}}</h3>
          <p class = "fond-noir" ng-repeat = "etab in main.education1">{{etab.major}}</p>  
           <p ng-repeat = "etab in main.education1">{{etab.debut}}-{{etab.fin}} &nbsp;&nbsp;&nbsp;{{etab.nationality}}</p>     
        </div>
        <!--education Wuhan university-->
       <div class="row">
          <h3 ng-repeat = "etab in main.education2">{{etab.name}}</h3>
          <p class = "fond-noir" ng-repeat = "etab in main.education2">{{etab.major}}</p>  
           <p ng-repeat = "etab in main.education2">{{etab.debut}}-{{etab.fin}} &nbsp;&nbsp;&nbsp;{{etab.nationality}}</p>     
        </div>
        <!--education lycee-->
        <div class="row">
          <h3 ng-repeat = "etab in main.education3">{{etab.name}}</h3>
          <p class = "fond-noir" ng-repeat = "etab in main.education3">{{etab.major}}</p>  
           <p ng-repeat = "etab in main.education3">{{etab.debut}}-{{etab.fin}} &nbsp;&nbsp;&nbsp;{{etab.nationality}}</p>     
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <hr>
  </div>

 
  <!--Work Experiences==========================================================================-->
  <div class="row">
    <div class="description">
      <div class="col-lg-4">
          <h2>Work Experiences</h2>
      </div>

      <div class="col-lg-8">
      <!--pojet polytech-->
        <div class="row">
          <h3 ng-repeat = "etab in main.workex1">{{etab.company}}</h3>
          <p class = "fond-noir" ng-repeat = "etab in main.workex1">Tasks:{{etab.task}}</p>  
           <p ng-repeat = "etab in main.workex1">{{etab.time}} &nbsp;&nbsp;&nbsp;{{etab.place}}</p>     
        </div>
      <!--travaill university-->
        <div class="row">
          <h3 ng-repeat = "etab in main.workex2">{{etab.company}}</h3>
          <p class = "fond-noir" ng-repeat = "etab in main.workex2">Tasks:{{etab.task}}</p>  
           <p ng-repeat = "etab in main.workex2">{{etab.time}} &nbsp;&nbsp;&nbsp;{{etab.place}}</p>     
        </div>
     <!--travaill chinasoftware-->
        <div class="row">
          <h3 ng-repeat = "etab in main.workex3">{{etab.company}}</h3>
          <p class = "fond-noir" ng-repeat = "etab in main.workex3">Tasks:{{etab.task}}</p>  
           <p ng-repeat = "etab in main.workex3">{{etab.time}} &nbsp;&nbsp;&nbsp;{{etab.place}}</p>     
        </div>

        <!--travaill typhoon system-->
        <div class="row">
          <h3 ng-repeat = "etab in main.workex4">{{etab.company}}</h3>
          <p class = "fond-noir" ng-repeat = "etab in main.workex4">Tasks:{{etab.task}}</p>  
           <p ng-repeat = "etab in main.workex4">{{etab.time}} &nbsp;&nbsp;&nbsp;{{etab.place}}</p> 
        </div>

          <!--travaill university-->
        <div class="row">
          <h3 ng-repeat = "etab in main.workex5">{{etab.company}}</h3>
          <p class = "fond-noir" ng-repeat = "etab in main.workex5">Tasks:{{etab.task}}</p>  
           <p ng-repeat = "etab in main.workex5">{{etab.time}} &nbsp;&nbsp;&nbsp;{{etab.place}}</p> 
        </div>

      </div>
    </div>
  </div>
  <div class="row">
      <hr>
  </div>
<!--skills==========================================================================-->
  <div class="row">
    <div class="description">
      <div class="col-lg-4">
          <h2>Skills</h2>
      </div>
      
      <div class="col-lg-7">  
        <!--Skills:Programme-->
        <div class="row">    
          <h3>Programme</h3>
            <p ng-repeat = "etab in main.programme">
              {{etab.skill}}
            </p>
        </div>
        <!--Skills:os-->
        <div class="row">      
          <h3 >Operation System</h3>
            <p ng-repeat = "etab in main.operation_system">
              {{etab.os}}
            </p>
        </div>
        <!--Skills:software-->
        <div class="row">      
          <h3 >Software</h3>
            <p ng-repeat = "etab in main.software">
              {{etab.soft}}
            </p>
        </div>
        <!--Skills:lang-->
        <div class="row">      
          <h3 >Languages</h3>
          <ul>
            <li ng-repeat = "etab in main.languages">
              {{etab.lang}}
            </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
      <hr>
  </div>

  <!--Center of interest==========================================================================-->
  <div class="row">
    <div class="description">
      <div class="col-lg-4">
          <h2>Center of Interest</h2>
      </div>

      <div class="col-lg-6">
        <div class="row">
          <h3>Sports</h3>
          <p ng-repeat = "etab in main.sport">{{etab.sport}}</p>
        </div>
        <div class="row">
              <h3>Read</h3>
              <p ng-repeat = "etab in main.read">{{etab.read}}</p>
        </div>  
        <div class="row">
              <h3>Leisure</h3>
              <p ng-repeat = "etab in main.leisure">{{etab.leisure}}</p>
        </div>   
      </div>
    </div>
  </div>

  <div class="row">
      <hr>
  </div>
 
